.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .popup_inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
    background: var(--light);
    padding: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .popup_h1 {
      color: var(--primary);
      text-align: center;
      margin-bottom: 1rem;
    }
    .popup_h2 {
      color: var(--text-primary);
      margin-bottom: 1.5rem;
      font-size: 1.25rem;
    }

    .popup_buttons {
      display: flex;
      justify-content: space-around;
      width: 80%;
    }

    .popup_create_buttons,
    .popup_cancel_buttons {
      height: 45px;
      font-size: larger;
    }
    .popup_create_buttons {
      background-color: var(--free);
    }
    .popup_cancel_buttons {
      background-color: var(--reserved);
    }
  }
}
